process {   
 withLabel: ERRO {
        errorStrategy =  { task.exitStatus == 1 ? 'ignore' : 'retry' }
		memory = 80.GB
        publishDir = [
            path: { "${params.outdir}" },
            mode: 'copy'
        ]
    }
   
 withName: COLOC {
        errorStrategy =  { task.exitStatus == 1 ? 'ignore' : 'retry' }
		memory = { 8.GB + (16.GB * (task.attempt - 1)) }
        publishDir = [
            path: { "${params.outdir}/coloc/" },
            mode: 'copy'
        ]
    }

 withName: GCTA_GSMR {
        errorStrategy =  { 'ignore' }
                memory = { 8.GB + (16.GB * (task.attempt - 1)) }
        publishDir = [
            path: { "${params.outdir}/GCTA_GSMR/" },
            mode: 'copy'
        ]
    }

 withName: RESULT {
        errorStrategy =  { task.exitStatus == 1 ? 'ignore' : 'retry' }
		memory = { 8.GB + (16.GB * (task.attempt - 1)) }
        publishDir = [
            path: { "${params.outdir}/final_report/" },
            mode: 'copy'
        ]
    }
 
 withName: FINAL_REPORT {
        errorStrategy =  { task.exitStatus == 1 ? 'ignore' : 'retry' }
		memory = { 8.GB + (16.GB * (task.attempt - 1)) }
        publishDir = [
            path: { "${params.outdir}/final_report/" },
            mode: 'copy'
        ]
    }
 
 withName: RENDER_REPORT {
        errorStrategy =  { task.exitStatus == 1 ? 'ignore' : 'retry' }
		memory = { 8.GB + (16.GB * (task.attempt - 1)) }
        publishDir = [
            path: { "${params.outdir}/final_report/" },
            mode: 'copy'
        ]
    }
}
