
/* config file for replicating T2D analysis
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run the analysis described on the paper.

    Use as follows:
        nextflow run juliaapolonio/MR_workflow -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Replicate profile'
    config_profile_description = 'Test dataset to replicate application analysis'

    run_replication               = true

    // Input data
    exposures    = "$projectDir/testdata/samplesheet_eqtlgen.csv"
    outcomes     = "$projectDir/testdata/samplesheet_t2d.csv"
    zenodo_link  = "https://zenodo.org/records/14024924/files/ref.tar?download=1"

}

