/*
Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run dalmolingroup/euryale -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    run_vignette               = true
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '8.GB'
    max_time   = '4.h'

    // Input data
    exposures    = "$projectDir/samplesheet_exposure.csv"
    outcomes     = "$projectDir/samplesheet_outcome.csv"
    zenodo_link  = "https://zenodo.org/records/14024924/files/ref.tar?download=1"

}
